%ul
  %li
    %a{ href: welcome_no_animation_path } List With No Animation
  %li
    %a{ href: welcome_css_transitions_path } List With CSS Transitions
  %li
    %a{ href: welcome_motion_and_staggered_motion_path } Demonstration of Motion and Staggered Motion
  %li
    %a{ href: welcome_react_motion_path } List With React Motion
