%ul
  %li
    %a{ href: welcome_no_animation_path } List With No Animation
  %li
    %a{ href: welcome_css_transitions_path } List With CSS Transitions
  %li
    %a{ href: welcome_motion_springs_path } Motion Springs
  %li
    %a{ href: welcome_simple_motion_path } Simple Motion
  %li
    %a{ href: welcome_staggered_motion_path } Staggered Motion
  %li
    %a{ href: welcome_react_motion_path } List With React Motion
  %li
    %a{ href: welcome_broken_react_motion_path } Broken React Motion
  %li
    %a{ href: welcome_heads_path } Heads
